* {
    padding: 0px;
    margin: 0px;
}

.icon {
    width: 20px;
    padding: 10px;
}

.iconca {
    width: 100px;
}
.map {
    width: 15px;
}
.iphone {
    width: 20px;
}
.iconn{
    width: 100px;
}
.gmail{
    width: 20px;
}
.id {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;  
    margin-top: 90px;
}
.head {
    color: rgb(255, 255, 255);
    border-top: none;
    padding: 20px;
    text-decoration: none;
}

nav {
    padding: 10px;
}

#cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 0 300px;
}

.card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 280px;
    border: 1.5px solid black;
    gap: 20px;
}

.card img {
    height: 65%;
    object-fit: contain;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.fon {
    width: 1550px;
}

header {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s, color 0.3s;
    z-index: 100000;
}

.scrolled {
    background-color: red;
    color: white;
}

main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.isShop {
    color: gold;
}
.sss{
    background: white;
    padding: 20px;
    position: absolute;
    margin-top: 430px;
}
.image1{
    object-fit: cover;
}
.simbut {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: red;
    border: 10px solid yellow;
    border-top: none;
    border-radius: 590px;
    transition: all 0.3s ease;
    padding: 10px;
}

.simbut1 {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(255, 255, 255);
    border-top: none;
    border-radius: 590px;
    transition: all 0.3s ease;
    padding: 10px;
}

.simbut:hover {
    background-color: white;
    color: black;
    border: 2px solid red;
    box-shadow: 5px 5px 0x red;
}

.simbut:active {
    background-color: yellow;
    box-shadow: none;
    transform: translateY(4px);
}

#section1 {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    object-fit: cover;
}

.sec {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec img {
    width: 250px;
    height: 400px;
}
#section2 {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    object-fit: cover;
}

.ces {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.ces img {
    width: 250px;
    height: 400px;
}

.head1 {
    margin-top: 50px;
}

.wer {
    border-radius: 999px;
    width: 60px;
    height: 60px;
    margin-top: 40px;
}

#snow-container {
    position: relative;
    z-index: 0;
}

#snow-container img {
    z-index: -10;
}

.snows {
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100vw;
    height: 89vh;
    z-index: 10000;
}

.div4 {
    display: flex;
    justify-content: space-between;
}

.isleftright {
    width: 80px;
    display: flex;
    margin: 10px;
}

#snow-container div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 40%;
    left: 25%;
    color: white;
    gap: 10px;
}
.section11 {
    text-align: center;
}
footer {
    background-color: rgb(255, 0, 0);
    color: white;
}
.rtt {
    width: 25px;
}
.ertg{
    background: rgb(101, 0, 0);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.wert{
    width: 35px;
}
